body {
<<<<<<< HEAD
    background-color: #1a4375 ;
     color: blue;
     margin: 0;
     padding: 0;
     }

.hero-container {
    background: transparent
    }

.hero-title {
    color:#ffffff;

    padding: 50px 24px;
}

.hero-subtitle {
    color:  yellow;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px
    margin-bottom: 24px;
=======
    background-color: #1a4375;
    color: blue;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.hero-container {
    background: transparent;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.hero-title {
    color: #ffffff;
    font-size: 45px;
    max-width: 900px;
    width: 100%;
    margin: 0;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-subtitle {
    background:rgba(255, 255, 255, 0.1);
    width: fit-content;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;
    margin-bottom: 4px;
>>>>>>> fe43ac3dde448f0fc0433d85e54dd009bf3e48ad
    display: inline-block;
    border-radius: 4px;
}

.hero-slogan {
    color: #ffffff;
<<<<<<< HEAD
    font-size: 48px;
    font-weight: 800;
    padding: 0;
    margin-bottom: 28px
    max-width: 600px
=======
    font-size: 45px;
    font-weight: 800;
    padding: 0;
    margin-top: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    line-height: 1.2;
>>>>>>> fe43ac3dde448f0fc0433d85e54dd009bf3e48ad
}

.hero-text {
    color: #ffffff;
<<<<<<< HEAD
    font-size: 21px;
    padding: 5px 24px;
}

.hero-buttons {
    background: #1a4375;
    padding: 20px;
    display: flex;
    gap: 15px;
}


.btn-first {
    color: #ffffff;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;    /* Убирает стандартное подчеркивание ссылки */
    padding: 12px 24px;       /* Внутренние отступы: сверху/снизу и слева/справа */
    border-radius: 8px;       /* Закругление углов */
    display: inline-block;    /* Позволяет корректно применять отступы */
    transition: background 0.3s
    background-color: transparent;  /* Яркая синяя заливка для первой кнопки */
    border: 2px solid #ffffff;
}

.btn-second {
    color: #ffffff;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;    /* Убирает стандартное подчеркивание ссылки */
    padding: 12px 24px;       /* Внутренние отступы: сверху/снизу и слева/справа */
    border-radius: 8px;       /* Закругление углов */
    display: inline-block;    /* Позволяет корректно применять отступы */
    transition: background 0.3s
    background-color: transparent; /* Прозрачный фон, чтобы было видно синий блок сайта */
    border: 2px solid #ffffff;
=======
    font-size: 22px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 600px;
    line-height: 1.4;
}

.hero-buttons {
    background: transparent;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 550px;
    margin-bottom: 40px;
}

.btn-first, .btn-second, .btn-third, .btn-fourth {
    color: #ffffff;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    display: inline-block;
    transition: background 0.3s;
    background-color: transparent;
    border: 2px solid #ffffff;
    white-space: nowrap;

    width: calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
>>>>>>> fe43ac3dde448f0fc0433d85e54dd009bf3e48ad
}

.hero-footer {
    background-color: transparent;
<<<<<<< HEAD
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Тонкая линия разделения */
    padding-top: 30px;
    display: flex;
    gap: 40px;
}

.Specs {
    font-size: 17px;
    color: #ffffff;
    padding: 5px; 24px
}
=======
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 80px;
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    box-sizing: border-box;
    width: 100%;
}

.Specs {
    font-size: 18px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

>>>>>>> fe43ac3dde448f0fc0433d85e54dd009bf3e48ad
