<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>fit-clan soprano</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link href="https://googleapis.com" rel="stylesheet">
    </head>
    <body>
    <div class="hero-container">

        <h1 class="hero-title"> FIT-CLAN SOPRANO</h1>

        <h5 class="hero-subtitle">PREMIUM FITNESS CLUB</h5>

        <p class="hero-slogan">Инвестируйте в свое здоровье сегодня,<br> чтобы уверенно чувствовать себя завтра</p>

        <p class="hero-text">Ультрасовременное железо, атмосфера жесткого драйва и команда
        тренеров, которая заставит тебя выжать максимум на пути к идеальной форме.</p>
        <div class="hero-buttons">
            <a href="{{ url_for('abonements') }}" class="btn-first"><b>Выбрать абонемент</b></a>
            <a href="{{ url_for('directions') }}" class="btn-second"><b>Направления</b></a>
            <a href="{{ url_for('trainers') }}" class="btn-third"><b>Наши тренеры</b></a>
            <a href="{{ url_for('schedule') }}" class="btn-third"><b>Расписание</b></a>
        </div>
        <hr>

        <footer class="hero-footer">
            <div class="Specs">
                <p>800 М<sup>2</sup> зон<br>
                <sub>Спорт, Кроссфит, Спа</sub></p>
            </div>

            <div class="Specs">
                <p>PRO тренеры<br>
                <sub>действующие чемпионы</sub></p>
            </div>
            <div class="Specs">
                <p>Парковка<br>
                    <sub> Бесплатный подземный паркинг для резидентов</sub></p>
            </div>
        </footer>

    </div>
    </body>
</html>